# Mac OS X Desktop Services Store
.DS_Store

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Qt Creator user settings
*.pro.user

# Vim swap files
*.swp

# Makefiles
Makefile*

# UI
ui_*

bin/Makefile
bin/ui_testsuite.h
bin/ui_mainwindow.h
bin/ui_settingsdialog.h
bin/Makefile.Debug
bin/Makefile.Release
bin/object_script.mole.Debug
bin/object_script.mole.Release

bin/debug
bin/release/*.o
bin/release/*.cpp
*.sd3
